<%= if @current_user do %>
  <%= @current_user.email %>
  <%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "px-3" %>
  <%= link "Log out", to: Routes.user_session_path(@conn, :delete), class: "px-3", method: :delete %>
<% else %>
  <%= link "Register", to: Routes.user_registration_path(@conn, :new), class: "px-3" %>
  <%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "px-3" %>
<% end %>
