<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Linkir", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="pt-24 flex flex-col h-full">
    <header class="fixed top-0 left-0 right-0 z-30 px-2 py-4 bg-white shadow sm:px-4">
      <div class="container flex items-center justify-between mx-auto">
        <a href="<%= Routes.link_path(@conn, :index) %>" title="Linkir Home Page" class="flex items-center text-xl text-gray-900">
          Linkir
        </a>
        <div class="flex items-center space-x-1">
          <%= render "_user_menu.html", assigns %>
        </div>
      </div>
    </header>

    <div class="container mx-auto">
      <%= @inner_content %>
    </div>

    <footer class="bg-gray-800 mt-auto py-3">
      <div class="container pb-4 max-w-4xl mx-auto text-center text-gray-300 text-sm">
        &copy; <%= DateTime.utc_now.year %> Linkir
      </div>
    </footer>
  </body>
</html>
